/*
 * Styles for the options page.
 */
#optionPanel {
  background-color: #dbf8db;
  padding: 0.5em;
  width: 100%;
}
#optionPanel {
  display: block;
}
#optionPanel .optionNote {
  font-style: italic;
}
#optionPanel > label {
  display: block;
}


/*
 * Styles for showing player card data.
 */
.player1, .player1 * {
  background: #dbf8db;
}
.player2, .player2 * {
  background: #fdfed3;
}
.player3, .player3 * {
  background: #feefd3;
}
.player4, .player4 * {
  background: #e7fefe;
}
.player5, .player5 * {
  background: #fee5fe;
}
.player6, .player6 * {
  background: #fad4d4;
}

.playerCardCountCol {
  padding: 0 0.25em;
  text-align: right;
}

.avail {
  padding-right: 0.5ex !important;
}
.availPadding {
  padding-right: 3ex;
}


/*
 * Styles for showing card counts in image mode.
 */

td.kingdom-column, td.basic-column {
  width: auto !important;
}

.kingdom-column > *, .basic-column > * {
  display: table-row;
}

.kingdom-column > * > *, .basic-column > * > * {
  display: table-cell;
}

/* Cause the prices + count display for basic cards to be vertical just like for kingdom cards */
.imbasic > .imprice {
  display: inline-block;
}

.imbasic {
  width: 10px !important;
}
.imverticle {
  width: 10px !important;
}

.imageMode #game, .imageMode {
  display: table-row !important;
}

.imageMode #optionPanel {
  display: table-cell;
  width: 100%;
}

.imageMode #supply {
  position: static !important;
  display: table-cell !important;
  width: auto !important;
  left: inherit !important;
  bottom: inherit !important;
  vertical-align: bottom;
}

.imageMode #supply > table {
  bottom: inherit !important;
  position: static !important;
}

.imageMode #playerData {
  border-bottom: black 1px groove;
}

.playing #right {
  padding-left: 1em;
  margin-left: auto !important;
  vertical-align: bottom;
  width: 100%;
  display: table-cell;
}

.playing #full_log {
  height: auto !important;
  overflow-y: auto;
  margin-left: 2em;
}

.playing #full_log > .logline > div[style] {
  height: 0 !important;
}



#game .right {
  margin-left: 400px !important;
}
#game .supply {
  width: 400px !important
}
div.vertical {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

